.px-3.py-3.pt-md-5.pb-md-4.mx-auto.text-center
  %h1.display-4 Jobs
  %p.lead
    We are growing! Join the Askdemos team, and together we will impact events around the globe.
    %br
    Askdemos is a cool startup working on solutions to increase engagement and get better insights at event.
    We serve a wide range of events: press conferences, concerts, events to business meetings, concerts, social conferences and casual meetups.

  %hr
  %h3.display-5 We offer
  %p
  /%p Bonuses based on your performance
  %p Shared revenue
  %p Stock ownership
  %p Development opportunities
  %p 100% Remote
  /%p Startup work ethic
  %hr
  %h3.display-5 Open Positions
  %br
  %h5 Business & Marketing
  %p= mail_to 'join@askdemos.com', 'Sales & Development Representative'
  %p= mail_to 'join@askdemos.com', 'Account manager'
  %p= mail_to 'join@askdemos.com', 'Digital Content Generation & Marketing Specialist'
  %h5 Design
  %p= mail_to 'join@askdemos.com', 'UI/UX Designer'
  %h5 Development
  %p= mail_to 'join@askdemos.com', 'Software Engineer (Full-Stack / RoR / React)'
  %p= mail_to 'join@askdemos.com', 'Frontend Developer'
