%p
.row
.card-group
  .row
    .col
      .card.border-warning
        .card-header.bg-warning.text-center
          %b Manage event
        .card-body
          %small
            Participants can ask questions and vote in this time period:
            %br
            = "Start: #{@event.starts_at.strftime('%d-%b %Y, %H:%M')}"
            %br
            = "End: #{@event.ends_at.strftime('%d-%b %Y, %H:%M')}"
            (#{distance_of_time_in_words @event.ends_at, @event.starts_at})
            %br
            = "Time zone: #{@event.time_zone}"
            = link_to 'Edit time', edit_event_path(@event), class: 'btn btn-primary btn-sm btn-block'
            %hr
            .text-center
              %h5
                Status:
                = status_label(@event.status)
              - if @event.starts_at > Time.now
                starts in
                = distance_of_time_in_words Time.now, @event.starts_at
                = button_to "Start now", start_now_event_path(@event), method: :patch
              - if @event.status == 'active'
                = button_to "End now", end_now_event_path(@event), method: :patch
    .col
      .card.border-warning
        .card-header.bg-warning.text-center
          %b Engage attendees
        .card-body
          %small
            = link_to '1. Show question board on screen', event_path, class: 'btn btn-outline-success btn-block'
            %p New questions automatically appear on the Projector Panel.
            = link_to '2. Show attendees how to join', event_path, class: 'btn btn-outline-success btn-block'
            %p Tell attendees to submit their questions now by going to www.askdemos.com with the passcode #{@event.password}.
    .col
      .card.border-warning
        .card-header.bg-warning.text-center
          %b Upgrade
        .card-body
          %small
            = link_to 'Logo branding', event_path, class: 'btn btn-outline-success btn-block'
            %p Give your brand more visibility by adding your company or event logo on the Projector Panel.
            = link_to 'Custom branding', event_path, class: 'btn btn-outline-success btn-block'
            %p Ensure that the look and feel of AskDemos meets your company or event's branding.
    .col
      .card.border-warning
        .card-header.bg-warning.text-center
          %b Insights
        .card-body.text-center
          .btn.btn-info.btn-block
            .fa.fa-users
            participants
          .btn.btn-info.btn-block
            .fa.fa-question
            /= fa_icon "impressions"
            = pluralize(@event.questions.count, 'question')
          .btn.btn-info.btn-block
            .fa.fa-thumbs-up
            = pluralize(@event.vote_quantity, 'vote')
          = link_to 'Excel Download', event_path, class: 'btn btn-outline-success btn-block'

