= form_for @event, html: {class: 'form-horizontal'} do |f|
  = f.hidden_field(:user_id, value: current_user.id)
  .form-group.row
    = f.label 'Title: *', class: 'col-md-3 col-form-label'
    .col-md-9
      = f.text_field :title, autofocus: true, class: 'form-control', placeholder: 'Event name'
  .form-group.row
    = f.label 'Description:', class: 'col-md-3 col-form-label'
    .col-md-9
      = f.text_field :description, class: 'form-control', placeholder: 'Any additional info you want the participants to know'
  - unless f.object.new_record?
    .form-group.row
      .col-md-3.col-form-label
      .col-md-9.col-form-label
        .text-left
          Participants can ask questions and vote in this time period:
    .form-group.row
      = f.label 'Starts at:', class: 'col-md-3 col-form-label'
      .col-md-9
        /= f.datetime_select :starts_at, minute_step: 15, :default => Time.zone.now + 1.hour
        = f.datetime_select :starts_at, :default => Time.zone.now + 5.minutes
    .form-group.row
      = f.label 'Ends at:', class: 'col-md-3 col-form-label'
      .col-md-9
        = f.datetime_select :ends_at, :default => Time.zone.now + 65.minutes
        /= f.date_field :ends_at, value: @event.ends_at || (Time.now + 10.days).strftime('%Y-%m-%d'), class: "form-control"
    .form-group.row
      = f.label 'Time zone:', class: 'col-md-3 col-form-label'
      .col-md-9
        = f.time_zone_select(:time_zone, nil, {}, { class: 'custom-select' })
  .form-group.row
    .col-md-3
    .col-md-9
      /= link_to 'Cancel', events_path, class: 'btn btn-secondary'
      = f.submit 'Create Event', class: 'btn btn-warning'
      /= f.button :submit, class: 'btn btn-warning'
  .links
    - unless f.object.new_record?
      = link_to 'Back', event_path(@event), class: 'btn btn-secondary'
    - else
      = link_to 'Back', events_path, class: 'btn btn-secondary'
