%br
= render 'shared/flash_messages' if flash.any?
%p  
.row
  .col-4
    .card.container
      %p
      Select a plan and add-ons.
      %p
      = link_to 'Purchase', new_event_path, class: 'btn btn-warning btn-block disabled'
      %p
    %p
  .col-4
    .card.container
      %p
      Explore paid features of Askdemos with up to 10 participants.
      %p
      = link_to 'Start free DEMO', new_event_path, class: 'btn btn-warning btn-block disabled'
      %p
    %p
  .col-4
    Upgrade plan
    [1/1] remaining
%br
.card
  %h2.card-header.bg-warning
    .row
      .col
        My Events:
        = current_user.events.count
      .col
        = link_to 'Create New', new_event_path, class: 'btn btn-info pull-right'
        /- unless current_user.events.any?
        /  = link_to 'Create Free Q&A', new_event_path, class: 'btn btn-warning btn-block'
        /- else
        /  = link_to 'Create Q&A', new_event_path, class: 'btn btn-warning btn-block'
  %table.table.table-responsive.table-hover
    %thead
      %tr
        %th Questions
        %th Respondents
        %th Votes
        %th Title
        %th Description
        %th Password
        %th Starts
        %th Ends
        %th Duration
        %th Status
        %th Created
        %th Last updated
        %th{:scope => 'col', :colspan => '2'} Actions
    %tbody
      - @events.each do |event|
        %tr
          %td
            /= fa_icon "impressions"
            = pluralize(event.questions.count, 'question')
          %td
          %td
          %td= link_to event.title, event
          %td
            .font-weight-light.font-italic
              = simple_format(event.description)
          %td= event.password.upcase
          %td= event.starts_at.strftime('%e-%b %Y, %H:%M (%z)')
          %td= event.ends_at.strftime('%e-%b %Y, %H:%M')
          %td= distance_of_time_in_words event.ends_at, event.starts_at
          %td
            = status_label(event.status)
            - if event.starts_at > Time.now
              starts in
              = distance_of_time_in_words Time.now, event.starts_at
          %td= "#{time_ago_in_words(event.created_at)} ago by #{event.user.username}"
          %td= "#{time_ago_in_words(event.updated_at)} ago"
          %td
            /= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }
            /= link_to '', edit_event_path(event), class: "btn btn-success fa fa-pencil btn-xs", title: 'Show Client', 'data-toggle' => 'tooltip', 'data-placement' => 'top'
            = link_to edit_event_path(event) do
              .btn.btn-outline-secondary
                .fa.fa-pencil
                Edit
          %td
            = link_to event, method: :delete, data: { confirm: 'Are you sure?' } do 
              .btn.btn-outline-secondary
                .fa.fa-trash
                Destroy
%br