- content_for :title do
  = @event.title
.row
  .col-lg-2
  .col-lg-8
    .event-container
      .card.border-warning
        %h2.card-header.bg-warning
          = "#{@event.title}"
          - if current_user && @event.user_id == current_user.id
            .pull-right
              = link_to settings_event_path, class: 'btn btn-warning' do
                .fa.fa-cog{:style => "font-size:25px"}
        - if @event.description?
          .card-header.bg-warning
            %small
              = "#{@event.description}"
        .card-header.bg-warning
          - if @event.status == 'live'
            = form_for @question do |f|
              = f.hidden_field(:event_id, value: @event.id)
              = f.hidden_field(:user_id, value: current_user&.id)
              .form-group
                /= f.text_area :contents, autofocus: true, class: 'form-control', placeholder: "Enter your question here"
                = f.text_area :contents, autofocus: true, class: 'form-control', placeholder: "Do you have a new question?"
                = f.submit 'Ask', class: 'btn btn-info add-question-submit'
          - elsif @event.status == 'not started'
            .text-center
              Q&A session 
              = status_label(@event.status)
              \.
              #{@event.status_2}
          - else
            .text-center
              Q&A session 
              = status_label(@event.status)
              \.
              Thank you for participating!
      - if @event.questions.any?
        %p
        - @questions.each do |question|
          .card
            .card-body
              .row
                .col-lg-auto
                  - unless @event.status == 'finished'
                    - unless current_user.voted_for? question
                      = link_to upvote_question_path(question), method: :put do
                        .col-md-12
                          /.btn.btn-outline-success
                          /  %i.fa.fa-thumbs-up{:style => "font-size:30px;color:orange;"}
                          %i.fa.custom-fa.fa-thumbs-up{:style => "font-size:25px;color:transparent"}
                    - else
                      .col-md-12
                        %i.fa.fa-thumbs-up{:style => "font-size:25px;color:orange"}
                  - else
                    .col-md-12
                      %i.fa.fa-thumbs-up{:style => "font-size:25px;color:grey"}
                  %span= pluralize(question.weighted_score, 'vote')
                .col-lg
                  = question.contents
                  /= simple_format(question.contents)
%br
/.card-body.questions-container
/  - if @event.questions.any?
/    %h1 Questions:
/    - @event.questions.each do |question|
/      .question
/        .contents
/          %h4= question.contents
/        .author
/          asked by:
/          = email = question&.user&.email
/        - if email.present? && email.eql?(question&.user&.email)
/          = link_to 'Edit', edit_question_path(question), class: 'btn btn-primary'
/          = link_to 'Delete', question_path(question), method: :delete,
/            data: { confirm: 'Are you sure?'}, class: 'btn btn-danger'
/        .votes
/          .row
/            .col-md-1{style: "font-size: 30px; color:#606060; text-align: center;"}
/              = link_to upvote_question_path(question), method: :put do
/                %i.fa.fa-caret-up.col-md-12
