= render 'shared/flash_messages' if flash.any?

.row.event-container
  .col-md-2
  .col-md-8
    .card
      %h2.card-header.bg-warning
        Event
      .card-body
        %h1= "Title: #{@event.title}"
        %p= "Description: #{@event.description}"
        %p= "Starts at: #{@event.starts_at}"
        %p= "Ends at: #{@event.ends_at}"
        %p= "Time zone: #{@event.time_zone}"
        %p= "Event code: #{@event.event_code}"
        %p= "Created by: #{@event.user.email}"
        .links
          = link_to 'Edit', edit_event_path(@event), class: 'btn btn-primary'
          = link_to 'Delete', event_path(@event), method: :delete, data: { confirm: "Are you sure?"}, class: 'btn btn-danger'
          = link_to 'Back', events_path, class: 'btn btn-secondary'

    .card
      .card-body.questions-container
        %h1 Questions:
        - @event.questions.each do |question|
          .question
            .contents
              %h4= question.contents
            .author
              asked by:
              = question&.user&.email

        %h1 Add a question
        = form_for @question do |f|
          = f.hidden_field(:event_id, value: @event.id)
          = f.hidden_field(:user_id, value: current_user&.id)
          .form-group.inline
            = f.submit 'Submit', class: 'btn btn-info'
            = f.text_field :contents, autofocus: true, class: 'form-control'
