</div>
.bg-light
  .container.text-center
    %br
    .row
      .col-lg.text-left
        /.font-weight-light
        %h1.display-5
          %b Askdemos brings
          %br
          %b Democracy to the land
          %br
          %b of Q&A sessions!
          /Askdemos helps your audience
          /to ask meaningful questions. 
          /makes it simple for your audience to ask questions, vote on polls, and give their feedback.
          /No installation or downloads required
          /Because questions matter
          /Questions that matter
          /Drive meaningful conversation with us
          /Askdemos helps to manage questions at events.
          /With Askdemos, speakers can now effectively engage with your audience and answer meaningful questions.
          /Live voting and charts.
          /FEATURES
          /Interactive Agenda shows who’s speaking and what’s happening.
          /Live Polls engage employees and lighten the mood.
          /Engagement Insights help to gauge employee consensus.
          /Engagement Insights provides data that helps you understand your customers.
          /Live Polls excite and involve customers for a more immersive brand experience.
          /%p Surveys: gather feedback collated in PDF and Excel formats.
          /Ask questions. Vote on questions. Live projection.
          /All questions matter
          /There is no such thing as a stupid question
          /You may not have time to answer all the questions in one go, but you will be able to have an overview on all of them. And if needed - release a follow-up with the answers!
          /, vote on polls, and give their feedback
          %p
          = link_to 'Try now! Create a free event', new_user_registration_path, class: 'btn btn-lg btn-warning'
      .col
        .embed-responsive.embed-responsive-16by9
          %iframe.embed-responsive-item{:allow => "autoplay; encrypted-media", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/H16ldnm_-ak?rel=0", :width => "560"}
    %br
    %h2.display-5 Engage with
    %br
    .row
      .col
        .card
          .my-3.py-3
            %i.fa.fa-question-circle{:style => "font-size:80px;color:orange;"}
            %h2.display-5 Question sessions
            %p.lead Let your audience submit and vote on questions.
            = link_to 'See how Q&A works', features_path, class: 'btn btn-warning'
            %p
            %small.text-muted 
              There is no such thing as a stupid question. 
              %br But there is such a thing as limited time. 
              %p We let the audience to choose the questions that matter most.
      .col
        .card
          .my-3.py-3
            %i.fa.fa-dashboard.fa-5x{:style => "font-size:80px;color:orange;"}
            %h2.display-5 Live Polls
            %p.lead Ask your audience questions. Let them vote on live charts!
            = link_to 'See how Polls work', features_path, class: 'btn btn-warning'
            %p
            %small.text-muted 
              Get instant measurable insights.
              %br Keep your conference dynamic and interactive.
              %p Engage everyone. Present like a rockstar!
    %br
    %h2.display-5 So simple!
    %br
    .card
      .row.my-3.py-3
        .col
          %h5
            %p.lead Gather instand feedback from your audience!
            %p.lead No installations or downloads required.
        .col
          %i.fa.fa-mobile{:style => "font-size:200px;color:orange;"}
    %br
    %h2.display-5 Boost any event
    %br
    .card-group
      .card
        .card-body
          %h5.card-title Press Meetings
          %p.card-text Time is limited. 100 journalists. All have questions. They can choose meaningful questions together.  
          /%p.card-text
          /  %small.text-muted Last updated 3 mins ago
      .card
        .card-body
          %h5.card-title Conferences
          %p.card-text Give every attendee the opportunity to be involved in Live Q&A, and drive discussions that are rewarding.
      .card
        .card-body
          %h5.card-title Internal events
          %p.card-text It can be hard for employees to speak up. Empower them with Live Q&A to ask questions anonymously.
      .card
        .card-body
          %h5.card-title Workshops
          %p.card-text Give participants a platform to contribute ideas and make learning fun and collaborative.
      .card
        .card-body
          %h5.card-title Branding
          %p.card-text Create an immersive experience
      /%p At customer engagement events
      /You can’t win over your customers unless you truly know them.
      /With live interactivity, you’ll connect with your customers while getting insights for sharper follow-ups.
      /%p At concerts
      /You’ve lined up some outstanding speakers. Your curious audience can’t wait to learn from them.
      /Conference Calls & Live streams
      /Have productive calls. Gather questions quickly and address them on the same call.
      /Tech Talks
      /Encourage sharing and learning with an easy, fun way to post and vote on questions.
      /Webinars
      /Engage and learn more about participants even virtually with crowdsourced Q&A and polls.
      /Education
      /Make your lectures and classes fun and interactive. Keep students engaged and thinking.
    %br
    %hr
    %br
    %h2.display-5 Features
    %br
    .card-group
      .card
        .card-body
          %i.fa.fa-user-secret.fa-3x{:style => "font-size:50px;color:orange;"}
          %h5.card-title Anonimity
          %p.card-text
            %small.text-muted Participants can comfortably raise questions anonymously.
      .card
        .card-body
          %i.fa.fa-lock.fa-3x{:style => "font-size:50px;color:orange;"}
          %h5.card-title Security
          %p.card-text
            %small.text-muted You own your data. You can do anything with it.
      .card
        .card-body
          %i.fa.fa-signal.fa-3x{:style => "font-size:50px;color:orange;"}
          %h5.card-title Analytics
          %p.card-text
            %small.text-muted Detaled engagement reports. Export to PDF and Excel.
      .card
        .card-body
          %i.fa.fa-sitemap.fa-3x{:style => "font-size:50px;color:orange;"}
          %h5.card-title Team access
          %p.card-text
            %small.text-muted Assign users with different access rights.
      .card
        .card-body
          %i.fa.fa-phone.fa-3x{:style => "font-size:50px;color:orange;"}
          %h5.card-title 24/7 Support
          %p.card-text
            %small.text-muted Our support is on duty.
    %br
    %hr
    %br
    .row
      .col-4
        %h2.display-5 Don't just take our word for it
      .col-8
        .row.text-center
          .col
            = image_tag "pg-askdemos-partner.png", style: 'height:auto;width:75%;', :alt => "pg-askdemos-partner"
          .col
            = image_tag "startup-weekend-askdemos-partner-logo.png", style: 'height:auto;width:75%;', :alt => "startup-weekend-askdemos-partner"
          .col
            = image_tag "visuality-askdemos-partner-logo.png", style: 'height:auto;width:75%;', :alt => "visuality-askdemos-partner"
        %br
        .row.text-center
          .col
            = image_tag "ewl-askdemos-partner.png", style: 'height:auto;width:75%;', :alt => "ewl-askdemos-partner"
          .col
            = image_tag "vistula-askdemos-partner-logo.png", style: 'height:auto;width:35%;', :alt => "vistula-askdemos-partner"
          .col
            = image_tag "spark-solutions-askdemos-partner-logo.png", style: 'height:auto;width:75%;', :alt => "spark-solutions-askdemos-partner"
        /%p FLC London
        /%p Ferrer hotels
    %br
