.row.signup-container
  .col-md-2
  .col-md-8
    .card
      %h2.card-header.bg-info
        Log In
      .card-body
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .form-group.row
            = f.label :email, class: 'col-md-3 col-form-label'
            .col-md-9
              = f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control',
                placeholder: 'Email Address'
          .form-group.row
            = f.label :password, class: 'col-md-3 col-form-label'
            .col-md-9
              = f.password_field :password, autocomplete: 'off', class: 'form-control',
                placeholder: 'Password'
          - if devise_mapping.rememberable?
            .form-group.row
              .col-md-3
              .col-md-9
                = f.check_box :remember_me
                = f.label :remember_me, class: 'col-form-label'
            .form-group.row
              .col-md-3
              .col-md-9
                = f.submit 'Log in', class: 'btn btn-info'
        = render 'devise/shared/links'
