%footer.page-footer.font-small.stylish-color-dark.pt-4.mt-4
  .bg-dark.text-white
    -  unless current_user
      %hr/
      / Footer Links
      .container.text-center.text-md-left
        / Grid row
        .row
          / Grid column
          .col-md-4.mx-auto
            / Content
            %h5.font-weight-bold.text-uppercase.mt-3.mb-4
              /Footer Content
            %p
              %small
                %br
                © #{Time.now.year} Copyright - Askdemos Ltd. 
                %br
                All rights reserved -
                %a{:href => "http://www.askdemos.com/"} askdemos.com
                %br
                13 Konstruktorska str. 02-651, Warsaw, Poland
                %br
                = mail_to 'hello@askdemos.com'
                %hr.bg-light
                / Social buttons
                %li.list-inline-item
                  = link_to "https://www.instagram.com/askdemos/", target: :_blank do
                    %i.fa.fa-instagram{:style => "font-size:25px;color:white"}
                %li.list-inline-item
                  = link_to "https://www.youtube.com/channel/UCrksy4sc0LqLP3aHSbcbLeQ/featured", target: :_blank do
                    %i.fa.fa-youtube{:style => "font-size:25px;color:white"}
                %li.list-inline-item
                  = link_to "https://twitter.com/askdemos/", target: :_blank do
                    %i.fa.fa-twitter{:style => "font-size:25px;color:white"}
                %li.list-inline-item
                  = link_to "https://www.linkedin.com/company/askdemos/", target: :_blank do
                    %i.fa.fa-linkedin{:style => "font-size:25px;color:white"}
          / Grid column
          %hr.clearfix.w-100.d-md-none/
          / Grid column
          .col-md-2.mx-auto
            / Links
            %h5.font-weight-bold.text-uppercase.mt-3.mb-4 Product
            %ul.list-unstyled
              = link_to 'Features', features_path
              %br
              = link_to 'Event types', event_types_path
              %br
              = link_to 'Pricing', pricing_path
          / Grid column
          %hr.clearfix.w-100.d-md-none/
          / Grid column
          .col-md-2.mx-auto
            / Links
            %h5.font-weight-bold.text-uppercase.mt-3.mb-4 Legal
            %ul.list-unstyled
              = link_to 'Pricing policy', privacy_policy_path
              = link_to 'Customer agreement', customer_agreement_path
              = link_to 'Terms of service', terms_of_service_path
              = link_to 'Security', security_path
          / Grid column
          %hr.clearfix.w-100.d-md-none/
          / Grid column
          .col-md-2.mx-auto
            / Links
            %h5.font-weight-bold.text-uppercase.mt-3.mb-4 About us
            %ul.list-unstyled
              = link_to 'Contact us', contact_us_path
              %br
              = link_to 'Jobs', jobs_path
          / Grid column
        / Grid row
      / Footer Links
      %hr.bg-light
      / Call to action
      %ul.list-unstyled.list-inline.text-center.py-2
        %li.list-inline-item
          %h5.mb-1 Ready to get started?
        = link_to 'Try now for free!', new_user_registration_path, class: 'btn btn-lg btn-warning'
      / Call to action
    - else
      .text-center
        = link_to 'Pricing policy', privacy_policy_path
        and
        = link_to 'Customer agreement', customer_agreement_path
        %br
        Powered by
        = image_tag "askdemos-logo-1.png", size: "25x25", class: "mx-auto d-inline align-top", :alt => "avatar"
        Askdemos Q&A
