%nav.navbar.navbar-expand-lg.navbar-dark.bg-warning.justify-content-between
  %form.form-inline.my-2.my-lg-0
    %input.form-control.mr-sm-2{"aria-label" => "Search", :placeholder => "Enter Event Password", :type => "search"}/
    %button.btn.btn-outline-dark.my-2.my-sm-0{:type => "submit"} Join!
%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.sticky-top
  %a.navbar-brand{:href => "/"}
    = image_tag "askdemos-logo-1.png", size: "25x25", class: "mx-auto d-inline align-top", :alt => "avatar"
    Askdemos
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item
        = link_to 'Home', root_path, class: 'nav-link'
    %ul.navbar-nav.ml-auto
      %li.nav-item
        %a.nav-link.text-white{ href: 'features' } Features
      %li.nav-item
        %a.nav-link.text-white{ href: 'pricing' } Pricing
      - unless current_user
        %btn.btn-active.btn-warning
          %li.nav-item
            = link_to 'Sign Up', new_user_registration_path, class: 'nav-link text-dark'
        %li.nav-item
          = link_to 'Log In', new_user_session_path, class: 'nav-link'
      - else

        %li.nav-item.dropdown
          %a#navbarDropdown.nav-link.dropdown-toggle.text-white{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            = current_user.username
            \|
            = current_user.company_name
          .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
            .dropdown-item
              = link_to 'My events', root_path, class: 'nav-link text-dark'
            .dropdown-item
              = link_to 'Settings', edit_user_registration_path, class: 'nav-link text-dark'
            .dropdown-item
              = link_to 'Billing', root_path, class: 'nav-link text-dark'
            %hr
            .dropdown-item
              = link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-link text-dark'
