%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  %a.navbar-brand.text-white{:href => "/dashboard"}
    = image_tag "askdemos-logo-1.png", size: "25x25", class: "mx-auto d-inline align-top", :alt => "avatar"
    My Askdemos
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span
      /YA
      .navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.ml-auto
      /%li.nav-item
      /  = link_to 'My Dashboard', dashboard_path, class: 'nav-link text-white'
      %li.nav-item.dropdown
        %a#navbarDropdown.nav-link.dropdown-toggle.text-white{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          = current_user.username
          \|
          = current_user.company_name
        .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
          .dropdown-item
            = link_to 'My events', root_path, class: 'nav-link text-dark'
          .dropdown-item
            = link_to 'Settings', edit_user_registration_path, class: 'nav-link text-dark'
          .dropdown-item
            = link_to 'Billing', root_path, class: 'nav-link text-dark'
          %hr
          .dropdown-item
            = link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-link text-dark'
